@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

/* ! typography */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: white;
}
h1,
h2,
h3 {
    font-family: "Bebas Neue", cursive;
}
h1 {
    font-size: 56px;
}
h3 {
    font-size: 24px;
}
.my-text-sub {
    font-size: 14px;
}
.my-text-btn {
    font-size: 16px;
}
.my-text-nav {
    font-size: 12px;
    text-transform: uppercase;
}
.my-text-grey {
    color: rgba(255, 255, 255, 0.08);
}
.my-text-orange {
    color: #ffb548;
}
section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

/* ! main cta section */
section.main-cta {
    background-image: url(../images/main-bg.jpg);
}
/* * navbar */
nav {
    background-color: rgba(0, 0, 0, 0.5);
}
nav .logo {
    font-size: 24px;
    letter-spacing: 10%;
    margin-left: 10%;
}
.my-nav-menu ul li a,
.my-sign-menu ul li a {
    margin-right: 20px;
}
/* * main */
.main-cta main {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main-cta .text-area {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-cta .text-area h1 {
    font-size: 72px;
    letter-spacing: 16px;
    margin: auto;
    width: 100%;
}
.main-cta .text-area h3 {
    margin: 40px auto;
    letter-spacing: 4px;
    font-weight: normal;
}
.main-cta .text-area button {
    background-color: #ffb548;
    padding: 15px 70px;
}
/* * footer */
.main-cta footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-cta footer p {
    margin-bottom: 30px;
}
/* * media query */
@media (max-width: 980px) {
    .main-cta .text-area h1 {
        font-size: 56px;
        letter-spacing: 4px;
    }
    .main-cta .text-area h3 {
        letter-spacing: 1px;
    }
}
/* ! end main cta section */

/* ! about-gallery section */
section.about-gallery-options {
    background-image: url(../images/the-games-bg.jpg);
}
/* * text area */
.about-gallery-options .text-area h1 {
    margin: auto;
    letter-spacing: 12px;
}
.about-gallery-options .text-area h3 {
    margin: 5px auto;
    letter-spacing: 3px;
}
/* * carousel */
.carousel-container {
    width: 90%;
}
.my-switch-left {
    left: -10%;
}
.my-switch-right {
    right: -10%;
}
.my-switch-right img,
.my-switch-left img {
    width: 15%;
}
.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5%;
}
/* * media query */
@media (max-width: 980px) {
    .about-gallery-options .text-area h3,
    .about-gallery-options .text-area h1 {
        text-align: center;
    }
    .carousel-indicators {
        top: 100%;
    }
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }
}
/* ! end about-gallery section */

/* ! features section */
.features {
    background-image: url(../images/features.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.features main {
    width: 30%;
    position: relative;
    top: 50%;
    left: 55%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
@media (max-width: 980px) {
    .features main {
        width: 50%;
        left: 50%;
        -ms-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%);
    }
}

.features h3 {
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}
.features h1 {
    font-size: 56px;
    letter-spacing: 4px;
    color: white;
}
.feature-area {
    width: 100%;
}
.feature-area img {
    position: relative;
    left: -5%;
}
.feature-area h3 {
    color: #ffb548;
}
.feature-area p {
    text-transform: capitalize;
    line-height: 22px;
    color: white;
    right: -5%;
    position: relative;
}

/* * accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* TODO: edit this active area for acordion */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.accordion:hover {
    background-color: rgba(256, 256, 256, 0.5);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

/* ! syst req section */
.syst-req {
    background-image: url(../images/requirements.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.syst-req h3 {
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
}
.syst-req h1 {
    font-size: 56px;
    text-transform: capitalize;
    letter-spacing: 11px;
}

/* * table container */
.syst-req .table-container {
    width: 42%;
    margin-top: 4%;
    margin-left: 8%;
}
.table-container .table {
    color: white;
    text-align: left;
    text-transform: capitalize;
}
.table-container .table h3 {
    color: #ffb548;
    text-align: left;
}

/* * media query */
@media (max-width: 980px) {
    .syst-req .table-container {
        width: 80%;
    }
    .syst-req h1 {
        font-size: 40px;
    }
}

/* ! quotes section */
.press-quotes {
    background-image: url(../images/top-score-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
}
.press-quotes h1 {
    font-size: 56px;
    letter-spacing: 4px;
}
.card {
    background-color: rgba(255, 255, 255, 0.08);
    width: 450px;
}
.card .c-one {
    position: relative;
    left: 22%;
}
.card .c-three {
    position: relative;
    left: 18%;
}
.card .header {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
}
.card .body {
    padding: 0 1rem 1rem 1rem;
}
.img-container img {
    box-shadow: 8px 4px 2px 2px #ffb548;
    border-radius: 50%;
}
h3.name {
    color: #ffb548;
    margin-bottom: 0;
}
p.profession,
p.date {
    margin-bottom: 0;
    color: rgba(256, 256, 256, 0.5);
}

.press-quotes .text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* * media query */
@media (max-width: 980px) {
    .card {
        width: 90%;
    }
    .card .c-one {
        position: relative;
        left: 0;
    }
    .card .c-three {
        position: relative;
        left: 0;
    }
}
@media (max-width: 580px) {
    .press-quotes {
        height: 100%;
    }
}

/* ! subscribe section */
.subscribe {
    background-image: url(../images/newsletter.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
}
.subscribe h3 {
    font-size: 24px;
    width: 180px;
    letter-spacing: 4px;
}
.subscribe h1 {
    font-size: 56px;
    letter-spacing: 10px;
    width: 75%;
}
.subscribe .my-hero-image {
    width: 30%;
    position: relative;
    left: 12%;
}
.subscribe .text-area {
    width: 45%;
    z-index: 1;
    position: relative;
    left: 15%;
}
.mail {
    background-color: rgba(255, 255, 255, 0.08);
    width: 360px;
    padding: 2px;
}
.subs {
    background-color: #ffb548;
    width: 260px;
    padding: 17px;
}
.email {
    color: #ffb548;
}
.small {
    font-size: 14px;
}
.grey {
    color: rgba(256, 256, 256, 0.5);
}
.mask {
    mask-image: radial-gradient(circle, white, grey, black);
}
.subscribe footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
}
.subscribe footer .menu {
    width: 100%;
    margin: auto;
}
.subscribe footer .menu .nav li a {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}
.subscribe footer .menu .nav li:nth-child(5) {
    margin-right: 20px;
}
.subscribe footer .menu .nav li:last-child {
    margin-right: 0;
}
.copyrights {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-bottom: 20px;
}
@media (max-width: 580px) {
    .subscribe .text-area {
        width: 80%;
        z-index: 1;
        position: relative;
        left: -35%;
    }
    .subscribe .my-hero-image {
        width: 50%;
        position: relative;
        left: 15%;
    }
    .subscribe {
        height: 100%;
    }
}
