@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! main menu section */
.main-menu {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* * navigation */
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
nav a {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
nav .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    font-weight: bold;
}
nav .menu {
    flex-grow: 2;
    display: flex;
    justify-content: left;
    margin-left: 80px;
}
nav .menu a {
    padding: 0 10px;
}
nav .menu a:not(last-child) {
    margin-right: 40px;
}
nav .login {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
nav .login a {
    padding: 0 10px;
}
nav .login a:not(last-child) {
    margin-right: 20px;
}
/* * header */
.text-area {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text-area h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: bold;
    font-size: 80px;
    color: white;
    margin: auto;
    text-align: center;
    letter-spacing: 10px;
}
.text-area p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: white;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 2px;
}
.text-area button {
    color: black;
    background: orange;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
/* * footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer p {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
