@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

/* ! typography */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}
h1,
h2,
h3 {
    font-family: "Bebas Neue", cursive;
}

/* ! main cta section */
.main-cta {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

/* * navbar */
nav {
    background-color: rgba(0, 0, 0, 0.5);
}
nav div a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
nav .logo {
    margin-left: 10%;
    font-size: 24px;
    letter-spacing: 10%;
}
.my-nav-menu ul li a {
    margin-right: 20px;
}
.my-sign-menu ul li a {
    margin-right: 20px;
}

/* * main */
.main-cta main {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main-cta .text-area {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-cta .text-area h1 {
    font-weight: bold;
    font-size: 72px;
    color: white;
    margin: auto;
    text-align: center;
    letter-spacing: 3px;
}
.main-cta .text-area h3 {
    font-size: 24px;
    color: white;
    margin: 40px auto;
    text-align: center;
    letter-spacing: 2px;
}
.main-cta .text-area button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background-color: orange;
    padding: 15px 70px;
}

/* * footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer p {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/* ! about-gallery section */
.about-gallery-options {
    background-image: url(../images/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * text area */
.about-gallery-options .text-area {
    margin-right: 10px;
    position: relative;
    top: -24%;
}
.about-gallery-options .text-area h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-transform: uppercase;
    color: white;
    margin: auto;
    text-align: center;
    letter-spacing: 4px;
}
.about-gallery-options .text-area h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    margin: 5px auto;
    text-align: left;
    letter-spacing: 2px;
}

/* * carousel */
.carousel-container {
    width: 60%;
    height: 50%;
}
.my-switch-left {
    left: -10%;
}
.my-switch-right {
    right: -10%;
}

/* * responsive about-gallery section */
@media (max-width: 980px) {
    .about-gallery-options {
        flex-direction: column;
    }
    .about-gallery-options .text-area {
        top: 0px;
    }
    .carousel-container {
        width: 80%;
        height: 40%;
    }
}

/* ! features section */
.features {
    background-image: url(../images/features.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.features main {
    width: 30%;
    position: relative;
    top: 50%;
    left: 55%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
@media (max-width: 980px) {
    .features main {
        width: 50%;
        left: 50%;
        -ms-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%);
    }
}

.features h3 {
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}
.features h1 {
    font-size: 56px;
    letter-spacing: 4px;
    color: white;
}
.feature-area {
    width: 100%;
}
.feature-area img {
    position: relative;
    left: -5%;
}
.feature-area h3 {
    color: #ffb548;
}
.feature-area p {
    text-transform: capitalize;
    line-height: 22px;
    color: white;
    right: -5%;
    position: relative;
}

/* * accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* TODO: edit this active area for acordion */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.accordion:hover {
    background-color: rgba(256, 256, 256, 0.5);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

/* ! syst req section */
.syst-req {
    background-image: url(../images/requirements.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
